:root {
  --eerie-black: #212121ff;
  --jet: #323232ff;
  --skobeloff: #0d7377ff;
  --turquoise-blue: #14ffecff;
  --white: #fafafaff;
  --dark-purple: #290625ff;
  /* font-family: 'Archivo Narrow', sans-serif; large headings
  font-family: 'Julius Sans One', sans-serif; headings
  font-family: 'Source Sans Pro', sans-serif; text */
}

* {
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

/* dark mode */

body {
  --accent-color: orangered;
  --background-color: whitesmoke;
  --text-color: black;
  --button-text-color: white;
  --transition-delay: 0.5s;

  background-color: var(--background-color);
  transition: var(--transition-delay);
}
body.dark {
  --accent-color: var(--turquoise-blue);
  --background-color: black;
  --text-color: whitesmoke;
  --button-text-color: black;
  --transition-delay: 1s;

  transition: var(--transition-delay);
}

/* Homepage */

#homepage {
  transition: 0;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 6rem;
  color: var(--accent-color);
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

#homepage img {
  width: 60vw;
  border-radius: 5px;
  max-width: 600px;
  /* max-height: 573px; */
}

/* About Me */

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-color);
  text-align: center;
  font-size: 3rem;
}

#about-me img {
  width: 24vw;
  height: 70vh;
  object-fit: cover;
  transition: 0.5s ease;
}

.about-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* overflow: hidden; */
  /* margin: 0 auto; */
  margin-left: 1vw;
}

.container {
  position: relative;
  width: 100%;
}

.container .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text-header {
  color: var(--accent-color);
  transition: var(--transition-delay);
  position: absolute;
  top: 10%;
  width: 100%;
  display: block;
  left: 0%;
  align-items: center;
  text-align: center;
}

.text-header h3 {
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Archivo Narrow", sans-serif; */
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.container:hover .image {
  opacity: 0.4;
}

.container:hover .text-header > h3 {
  opacity: 0;
}

.container:hover .middle {
  opacity: 0.8;
}

.text {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--skobeloff);
  color: white;
  font-size: 18px;
  padding: 4px 10px;
  width: 22vw;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(15px + 1vw);
  font-weight: bold;
  background: rgb(50, 50, 50);
  color: var(--turquoise-blue);
  background: var(--background-color);
  width: 100%;
  max-width: 100vw;
  position: sticky;
  top: 0;
  max-height: 10vh;
  /* transition: var(--transition-delay); */
  border-top: 5px solid var(--accent-color);
  border-bottom: 5px solid var(--accent-color);
  z-index: 1;
}

nav div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0%;
  margin: 0;
}

nav div ul li {
  margin-right: 2vw;
  text-decoration: none;
  display: block;
}

nav div ul li a {
  color: var(--accent-color);
}

nav div p {
  color: var(--text-color);
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

.padding {
  padding-top: 2.5%;
  transition: 0;
}

.links {
  display: flex;
}

.links svg {
  height: 10;
}

.icon {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 300vh;
}

.theme-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  outline: none;
  transition: var(--transition-delay);
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 0px solid #000;
  border-radius: 10px;
}

.theme-toggle-button:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.theme-toggle-button .icon {
  margin-right: 0.3em;
}

.links a:hover {
  color: #ffcc00;
}

nav p {
  margin: 0 auto;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  /* border-radius: 8px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}

/* Projects */

#projects {
  padding-top: 6vh;
}

/* flickity carousel */

.main-carousel {
  /* height: 60vh; */
  background-color: white;
}

.carousel-cell {
  width: 80%;
  height: 100%;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid var(--accent-color);
  background: var(--background-color);
}

/* media queries */
@media (max-width: 850px) {
  h3 {
    font-weight: 2rem;
  }
  .about-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-right: 1vw;
    overflow: hidden;
  }

  .text-header svg {
    width: 3em;
    height: 3em;
  }

  .text-header h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .text-header h3 br {
    padding-top: 0;
    margin-bottom: 0;
  }

  .middle p {
    margin: 2%;
  }

  #about-me img {
    width: 50vw;
    height: 25vh;
    object-fit: cover;
    vertical-align: bottom;
  }

  .text {
    left: 45%;
    font-size: 16px;
    padding: 2px 4px;
    width: 40vw;
  }
}

@media (max-width: 750px) {
  nav {
    font-size: 1rem;
    text-align: center;
  }

  .padding {
    padding-top: 3.5%;
  }

  .theme-toggle-button {
    padding: 2px 5px 2px 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  h2 {
    font-size: 1.5rem;
  }

  nav button span {
    display: none;
  }

  .middle p {
    margin: 1%;
  }

  #about-me img {
    width: 50vw;
    height: 40vh;
  }
}

@media (max-width: 455px) {
  .text-header h3 {
    font-size: 1.5rem;
  }

  .text-header br {
    display: none;
  }

  .text-header svg {
    width: 2.5em;
    height: 2.5em;
  }

  .about-table {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    /* grid-column-gap: 3px; */
    grid-row-gap: 5px;
  }

  #about-me img {
    width: 90vw;
    margin: 0 auto;
    height: 20vh;
    border-radius: 5px;
  }

  .text {
    font-size: 12px;
    width: 90vw;
  }

  nav {
    font-size: 10px;
  }

  .padding {
    padding-top: 4%;
  }

  #homepage img {
    width: 90vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
