:root {
  --eerie-black: #212121ff;
  --jet: #323232ff;
  --skobeloff: #0d7377ff;
  --turquoise-blue: #14ffecff;
  --white: #fafafaff;
  /* font-family: 'Archivo Narrow', sans-serif; large headings
  font-family: 'Julius Sans One', sans-serif; headings
  font-family: 'Source Sans Pro', sans-serif; text */
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

/* dark mode */

body {
  --accent-color: orangered;
  --background-color: whitesmoke;
  --text-color: black;
  --button-text-color: white;
  --transition-delay: 0.5s;

  background-color: var(--background-color);
  transition: var(--transition-delay);
}
body.dark {
  --accent-color: var(--turquoise-blue);
  --background-color: black;
  --text-color: whitesmoke;
  --button-text-color: black;
  --transition-delay: 1s;

  transition: var(--transition-delay);
}

/* Homepage */

#homepage {
  transition: 0;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 6rem;
  color: var(--accent-color);
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-color);
}

#homepage img {
  width: 60vw;
  border-radius: 5px;
}

/* Navigation bar */

#about-me h2 {
  text-align: center;
  font-size: 3rem;
}

#about-me img {
  width: 24vw;
  height: 60vh;
  object-fit: cover;
  /* vertical-align: baseline; */
}

.about-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  margin-left: 3vw;
  margin-right: 3vw;
}

.container {
  margin-bottom: 0;
  padding-bottom: 0;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(15px + 1vw);
  font-weight: bold;
  background: rgb(50, 50, 50);
  color: var(--turquoise-blue);
  background: var(--background-color);
  width: 100%;
  max-width: 100vw;
  position: sticky;
  top: 0;
  max-height: 10vh;
  /* transition: var(--transition-delay); */
  border-top: 5px solid var(--accent-color);
  border-bottom: 5px solid var(--accent-color);
}

nav div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0%;
  margin: 0;
}

nav div ul li {
  margin-right: 2vw;
  text-decoration: none;
  display: block;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

.padding {
  padding-top: 2.5%;
  transition: 0;
}

.links {
  display: flex;
}

.links svg {
  height: 10;
}

.icon {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 300vh;
}

.theme-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  outline: none;
  transition: var(--transition-delay);
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 0px solid #000;
  border-radius: 10px;
}

.theme-toggle-button:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.theme-toggle-button .icon {
  margin-right: 0.3em;
}

.links a:hover {
  color: #ffcc00;
}

nav p {
  margin: 0 auto;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  /* border-radius: 8px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}

@media (max-width: 750px) {
  nav {
    font-size: 1rem;
    text-align: center;
  }

  .padding {
    padding-top: 3.5%;
  }

  .theme-toggle-button {
    padding: 2px 5px 2px 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    justify-content: center;
  }

  .about-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* overflow: hidden; */
  }

  #about-me img {
    width: 50vw;
    height: 25vh;
    object-fit: cover;
  }
}

@media (max-width: 530px) {
  nav button span {
    display: none;
  }
}

@media (max-width: 455px) {
  nav {
    font-size: 12px;
  }

  .padding {
    padding-top: 4%;
  }

  #homepage img {
    width: 90vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
