:root {
  --eerie-black: #212121ff;
  --jet: #323232ff;
  --skobeloff: #0d7377ff;
  --turquoise-blue: #14ffecff;
  --white: #fafafaff;
  /* font-family: 'Trade Winds', cursive; */
}

* {
  box-sizing: border-box;
  border: 2px solid red;
}

html,
body {
  margin: 0;
  padding: 0%;
}

/* Navigation bar */

nav {
  font-family: "Trade Winds", cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  background: rgb(50, 50, 50);
  color: var(--turquoise-blue);
  background: var(--eerie-black);
  width: 100vw;
  position: fixed;
  top: 0;
}

nav div ul {
  display: flex;
  list-style-type: none;
  padding: 0%;
  margin: 0;
}

main {
  margin-top: 40px;
}

.links a:hover {
  color: #ffcc00;
}

nav p {
  margin: 0 auto;
  font-family: "Trade Winds", cursive;
}

img {
  width: 500px;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #050505;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}
